/* CSS */
*{
	padding: 0;
	margin: 0;
}
html, body {

}
body {
	background: #101010;
	color: silver;
	font-family: 'Arial Black',courier;
}
.header {
	background: #303030;
	color: whitesmoke;
	font-size: 22px;
	height: 25px;
}
#as {
	margin-left: 20px;
}
#be{
	width: 25px;
	height: 25px;
	float: right;
	border-radius: 50px;
	display: block;
	margin-right: 15px;
}

#cao {
	width: 35px;
	height: 35px;
	margin-left: 2px;
	position: fixed;
	top: 10px;
	padding: 18px 5px;
}
.conten {
	width: 90%;
	color: silver;
	letter-spacing: 1px;
	font-size: 19px;
	margin-top: 60px;
	margin-left: 10px;
	text-align: center;
}	

#ava{
	width: 150px;
	height: auto;
	display: block;/* CENTRAR IMAGEN */
	margin: auto;/* CENTRAR IMAGEN */
	top: 20px;
	position: relative;
	border-radius: 10px;
}

.footer {
	position: relative;
	font-family: 'Gothic';
	font-size: 15px;
	margin-left: 10px;
}
@media screen and (min-width: 768px) {
	.header {
		font-size: 30px;
		height: 30px;
	}	
	#as {
		margin-left: 100px;
	}
	#be{
		width: 30px;
		height: 30px;
		float: right;
		border-radius: 50px;
		display: block;
		margin-right: 40px;
	}
	#cao {
		width: 50px;
		height: 50px;
		margin-left: 10px;
	}
	.conten {
		font-size: 23px;
		margin-top: 80px;
		width: 90%;

	}
}



