/* CSS */
*{
	padding: 0;
	margin: 0;
}
html, body {
	
}
body {
	background: #101010;
	color: silver;
	font-family: 'Arial Black',courier;
}
.header {
	background: #d0d3d4;
	color: black;
	font-size: 20px;
	height: 25px;
}
#as {
	margin-left: 20px;
}
#be{
	width: 25px;
	height: 25px;
	float: right;
	border-radius: 50px;
	display: block;
	margin-right: 15px;
}
.logo {
	
}
#cao {
	width: 35px;
	height: 35px;
	margin-left: 10px;
	position: fixed;
	top: 10px;
	padding: 18px 5px;
}
.conten {
	color: silver;
	letter-spacing: 1px;
	font-size: 13px;
	margin-top: 60px;
	width: 200px;
	display: block;
	margin-left: auto; /* PARA CENTRAR LA CAJA*/
	margin-right: auto;/* PONER LEFT Y RIGHT*/
}
#five {
	font-family: cursive;
	color: #a9b8b0;
}

#ava{
	display: block;/* CENTRAR IMAGEN */
	margin: auto;/* CENTRAR IMAGEN */
	top: 20px;
	position: relative;
	animation: wol 10s infinite;
	border-radius: 10px;
}

@keyframes wol {
	20% { }
	50% { }
	80% { }
}

.footer {
	font-family: 'Gothic';
	font-size: 15px;
	position: absolute;
	width: 100%;
	bottom: 0;
	text-align: center;
}
@media screen and (min-width: 768px) {
	.header {
		background: #d0d3d4;
		color: black;
		font-size: 30px;
		height: 30px;
	}	
	#as {
		margin-left: 100px;
	}
	#be{
		width: 30px;
		height: 30px;
		float: right;
		border-radius: 50px;
		display: block;
		margin-right: 40px;
	}
	#cao {
		width: 50px;
		height: 50px;
		margin-left: 10px;
	}
	.conten {
		font-size: 20px;
		margin-top: 80px;
		width: 300px;
		display: block;
		margin-left: auto; /* PARA CENTRAR LA CAJA*/
		margin-right: auto;/* PONER LEFT Y RIGHT*/
	}
}



