
*{
	padding: 0;
	margin: 0;
}

html, body {
	padding: 0;
 	margin: 0;
}

body {
	background: black;
	color: white;
}

.cabe {
	text-align: center;
}

.logo {
	width: 200px;
}

a {
	text-decoration: none;
}

.enla {
	text-align: center;
}

.foto {
	width: 30px;
	border-radius: 50%;
	height: 30px;
	margin-left: 20px;
	top: -10px;
	position: relative;
}

.section {
	text-align: center;
}

@media screen and (min-width: 768px) {

	header {
		height: 60px;
	}

	.logo {
		height: 75px;
		width: 300px;
	}

	.foto {
		width: 40px;
		border-radius: 50%;
		height: 40px;
		margin-left: 20px;
		top: -10px;
		position: relative;
	 }
}









