



/* CSS INDEX */

* {
	margin: 0;
	padding: 0;
}
html, body {
	padding: 0 0 50px;
 	margin: 0;
	overflow-y: visible;
	overflow-x: hidden;
}
body {
	background: #101010;
	color: white;
}
header {
	background: black;
	width: 100%;
	height: 65px;
	border-radius: 0 0 5px 5px;
	text-align: center;
	position: fixed; /* CABECERA FIJA */
}
div.intro {
	position: fixed;
	top: 60px;
}
li.sub {
	list-style: none;
	width: 50px;
}

li.sub ul {
	display: none;
}
li.sub:hover > ul {
	display: block;
}

li.sub {
	position: relative;
}

li.sub:hover > ul {
	display: block;
	position: absolute;
	top: -10px;
	left: 2px;
	margin: 0;
	background: transparent;
	list-style: none;
}

li#en {
	list-style: none;
	background: transparent;
}

section {
	text-align: center;
	margin-top: 108Px;
}

section p {
	font-size: 20px;
	letter-spacing: 1px;
}
/*IMAGENES DE ENLACES*/
img.b{
	width: 35px;
	height: 35px;
	border-radius: 50px;
}

@media screen and (min-width: 768px){
	img.b{
		width: 50px;
		height: 50px;
		border-radius: 50px;
	}
 }









