/* CSS */
*{
	padding: 0;
	margin: 0;
}

html, body {
	
}

body {
	background: black;
	color: whitesmoke;
}

.cabe {
	text-align: center;
}

.logo {
	width:250px;
	height: 60px;
}

.section {
	margin-top: 5px;
	letter-spacing: 1px;
	text-align: center;
	font-size: 19px;
	background: transparent;
	color: #dad7bd;
	width: 250px;
	padding: 10px;
	border-radius: 5px;
	display: block;
	margin-left: auto; /* PARA CENTRAR LA CAJA*/
	margin-right: auto;/* PONER LEFT Y RIGHT*/
}
/* IMAGENES GAME */

.gamefotos {
	width: 250px;
	border: 2px solid silver;
}



/* IMAGENES TERMI */
a {
	text-decoration: none;
} /* DE red */

.enla {
	text-align: center;
	margin-top: 13px;
}

.foto {
	width: 30px;
	border-radius: 50%;
	height: 30px;
	margin-left: 20px;
	top: -10px;
	position: relative;
}

}

footer {
	letter-spacing: 1px;
	position: relative;
}

.yea { position: relative;}
.crea {
	color: silver;
	font-size: 15px;
	margin-left: 20px;
}

@media screen and (min-width: 768px) {

	header {
		height: 60px;
	}

	.logo {
		width:300px;
		height: 90px;
	}

	.section {
		 	font-size: 20px;
		 	width: 600px;
		 }

	/* IMAGENES GAME */

	.gamefotos {
		width: 400px;
		height: auto;
	}



	/* IMAGENES TERMI */

	.foto {
		width: 40px;
		border-radius: 50%;
		height: 40px;
		margin-left: 20px;
		top: -10px;
		position: relative;
	 }

	 .crea { font-size: 18px; }
}



